<main class="px-4 py-20 sm:px-6 lg:px-8 flex justify-center mx-auto max-w-[1600px]">
  <div class="mx-auto ml-4 mr-4 sm:ml-10 sm:mr-10 w-full">
    <.flash_group flash={@flash} />

    <.live_component module={EkmiWeb.Nav.SidebarLive} id={:sidebar} current_user={@current_user} />

    <%= @inner_content %>
  </div>
</main>
